.stat-container {
	border: 1px solid #353535;
	margin-top:10px;
	height: 530px;
}
.caption {
	background: #353535;
	font-size: 14px;
	color: #FFFFFF;
	padding: 10px;
	margin-bottom:10px;
}
.stat-control {
	font-size: 14px;
	color: #353535;
	padding: 10px;
	clear: both;
}
.line-chart::after {
	content: " ";
}
.area-chart::after {
	content: " ";
}
.bar-chart::after {
	content: " ";
}
.canvas-holder {
	padding-top: 20px;
	padding-bottom: 20px;
	width:1150px;
	margin: 0;
	float: left;
}
.chart-legend {
	margin: 0;
	width:150px;
	float: left;
}
canvas { 
	margin: 0 auto; 
} 